canvas {
	display: block;
	vertical-align: bottom;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
  }

.header {
	height: 50vh;
}

.header-content {
	text-align: center;	
}

.header h1 {
	padding-top: 10px;
}
.main {
	height: 50vh;
	text-align: center;
}

.lead-message {
	text-align: center;
}

.pricing {
	padding-top: 10vh;
	text-align: center;
}

.pricing ul {
	padding: 0px;
	list-style-type: none;
}
.pricing ul li{
	font-size: 1.5em;
	padding-bottom: 10px;
}

.payment-processors{
	padding-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

.features{
	text-align: center;
	font-size: 1.4em;	
	margin-bottom: 100px;
}

.features h1{
	margin-bottom: 50px;
}

.features h3{
	font-size: 1.6em;
}

footer{
	text-align: center;
	font-size: 1.3em;
}